<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.developer.dao.PaymentReceiptDAO">
  	<!-- List 출력 -->
	<select id="chargeList" resultType="com.developer.dto.PaymentReceiptDTO">
		SELECT 
			contract_number, 
			customer_phone, 
			customer_name, 
			DATE_FORMAT(billing_date, '%Y-%m-%d') as billing_date, 
			billed_amount, 
			paid_amount 
		FROM PaymentReceipt 
		WHERE customer_name = #{customer_name}
		AND contract_number = #{contract_number}
		AND year(billing_date) = #{year}
	</select>
</mapper>