@charset "utf-8";
body{
    padding-top: 120px;
}
header{
    height: 100px;
    border: 1px black solid;
    text-align: center;

	  background-image: url("/resources/img/member/LogoBackground.png");	
    background-size: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
header img{
    width: 300px;
}
