@charset "utf-8";

#CommandGrid{
    display: grid;
    grid-template-columns: 200px 1fr;
}
table{
    width: 100%;
    table-layout: fixed;
}
table, tr, td, caption{
    padding: 10px;
    background-color: black;
    color: white;
    border-collapse: collapse; /* 이중 테두리를 단일 테두리로 변경*/
    border: 1px solid white;
    word-break: break-all; /*텍스트가 컨테이너의 경계를 넘어갈 때 줄바꿈*/
}

nav{
    background-color: black;
    color: white;
    border: 1px white solid;
    padding-left: 10px;
    padding-right: 10px;
}

nav ol li {
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

main{
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width : 1100px){
    table{
        width: 800px;
    }
}

@media (max-width : 900px){
    table{
        width: 650px;
    }
}

@media (max-width : 750px){
    table{
        width: 500px;
    }
}

pre{
    white-space: pre-wrap;
}