@charset "utf-8";
/* Section */

form{
    display: flex;
    justify-content: center;
}
table{
    border: 1px solid black;
    width: 600px;
}
td, th{
    border: 1px solid black;
    padding: 10px;
}
.btn_style{
    width: 100%;
}
.btn_style, input{
    padding: 10px;
}